﻿


a a:link {
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    text-decoration: none;
    color: red;
}

a:active {
    color: #555;
}

a:focus {
    outline: 2px solid blue;
}




/*2. navigation menu ******/



#menu {
    margin-left: 26%;
    margin-right: 26%;
}


    #menu ul {
        padding: 2px;
    }

    #menu li {
        text-align: center;
        display: inline;
        list-style: none;
        text-decoration: none;
        margin-right: 30px;
        padding: 4px;
        font-size: 20px;
    }

    #menu a {
        font-weight: bold;
        color: black;
        text-decoration: none;
    }

        #menu a:hover {
            color: red;
            border-bottom-style: inset;
            border-bottom-color: grey;
            border-bottom-width: 2px;
        }

        #menu a:active {
            color: blue;
        }


.col-md-6 {
    padding: 5px;
    background-color: #F5F5DC;
    box-shadow: 1px 2px 4px rgba(0, 0, 1, .5); /* From W3school*/
}

s
/* header */
#header {
    width: 100%;
    height: 90px;
    margin-bottom: 1em;
    background-color: black;
    color: white;
}








/* footer */
#footer {
    margin: 3px;
    padding: 3px;
    background-color: grey;
    clear: both;
    background-color:black;
    color: white;
}

#copyright {
    width: 70%;
    float: left;
    display: inline;
    margin-top: 200px;
}



#bottom_div {
    clear: both;
}
